<!DOCTYPE html>
<html lang="en">
<head>
<title>Rock Paper Scissors</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
  .container {background-color: #CAE1FF;}
  .row-centered {
    text-align: center;
  }
</style>
</head>

<body>
  <div class="container">
    <div class="row row-centered">
      <h1>Rock Paper Scissors</h1>
    </div>

    <%= yield %>

</body>
</html>